Repository mathias-ammon/tessif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, check-toml, check-yaml, pyupgrade, isort

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: black
        name: black
        description: Format code using black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: flake8
        name: flake8
        description: Use flake8 for code improvements.
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]
      - id: isort
        name: Sort python imports using isort through poetry.
        entry: poetry run isort
        language: system
        types: [python]
        args: [-v]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

Add release drafting
  .github/release-drafter.yml
  .github/workflows/release-drafter.yml
  docs/index.rst
  poetry.lock
  pyproject.toml
  src/tessif/__init__.py
  tests/test_version.py
Due: black, flake8, check-toml, check-yaml, pyupgrade, isort

Fix codecovarge workflow
  .github/workflows/coverage.yml
Due: check-yaml

Fix codecovarge workflow by adding tests
  .github/workflows/coverage.yml
Due: check-yaml

Enhancment: use major versio tag for release drafter
  .github/workflows/release-drafter.yml
Due: check-yaml

Fix release-drafter workflow to add on branch 'main'.
  .github/workflows/release-drafter.yml
Due: check-yaml

Add test-pypi develop publish workflow
  .github/workflows/test-pypi.yml
Due: check-yaml

Fix test-pypi publish action workflow
  .github/workflows/test-pypi.yml
Due: check-yaml

Add pypi release workflow
  .github/workflows/pypi.yml
Due: check-yaml

Improve pypi release workflow
  .github/workflows/pypi.yml
Due: check-yaml

Add read the docs updload capabilities
  .readthedocs.yml
  docs/requirements.txt
Due: check-yaml

Try fixing pypi release workflow
  .github/workflows/pypi.yml
Due: check-yaml

Fix rtd build to python version 3.8
  .readthedocs.yml
Due: check-yaml

Losen python version dependency to use rtd
  poetry.lock
  pyproject.toml
Due: check-toml

Fix version bump test
  tests/test_version.py
Due: black, flake8, pyupgrade, isort

Prepare first alpha release
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Try fixing pypi publish workflow
  .github/workflows/pypi.yml
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, check-yaml, pyupgrade, isort

Try fixing pypi workflow again
  .github/workflows/pypi.yml
Due: check-yaml

Pypi again and again
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Change release trigger to published
  .github/workflows/pypi.yml
Due: check-yaml

Update basic documentation
  README.rst
  docs/conf.py
  docs/index.rst
Due: black, flake8, pyupgrade, isort

Update documentation
  docs/conf.py
  docs/index.rst
Due: black, flake8, pyupgrade, isort

Increase nox default session scope
  noxfile.py
Due: black, flake8, pyupgrade, isort

Bump version to 0.0.10
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Fix README underline too short
  README.rst
Due: none

Fix README install typo
  README.rst
Due: none

Fix missing sphinx-paramlinks dependencies
  docs/requirements.txt
  poetry.lock
  pyproject.toml
Due: check-toml

Bump version to 0.0.11
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Fix install typo in docs index
  docs/index.rst
Due: none

Change package title to reflect pip name
  README.rst
  docs/index.rst
Due: none

Bump version to 0.0.12
  tests/test_version.py
Due: black, flake8, pyupgrade, isort

Really bump the version this time
  pyproject.toml
Due: check-toml

Fix test workflow not using python 3.10
  .github/workflows/tests.yml
Due: check-yaml

Really fix test workflow not using python 3.10
  .github/workflows/tests.yml
Due: check-yaml

Update documentation
  AUTHORS.rst
  CODE_OF_CONDUCT.rst
  CONTRIBUTING.rst
  docs/conf.py
  docs/index.rst
  docs/requirements.txt
  docs/source/api.rst
  docs/source/changelog.rst
  docs/source/developer_guide/authors.rst
  docs/source/developer_guide/code_of_conduct.rst
  docs/source/developer_guide/contributing.rst
  docs/source/developer_guide/workflows.rst
  docs/source/getting_started/examples.rst
  docs/source/getting_started/installation.rst
  docs/source/getting_started/quick_start.rst
  docs/source/unittests.rst
  docs/source/unittests/test_connectivity.rst
  docs/source/unittests/test_end2end.rst
  docs/source/unittests/test_fakeapi.rst
  docs/source/unittests/test_http_requests.rst
  docs/source/unittests/test_version.rst
  docs/source/user_guide/faq.rst
  noxfile.py
  src/tessif/__init__.py
  tests/test_http_requests.py
Due: black, flake8, pyupgrade, isort

Change code of conduc title
  CODE_OF_CONDUCT.rst
Due: none

Update workflow documentation
  docs/source/developer_guide/workflows.rst
Due: none

Add safety nox session
  .github/workflows/safety.yml
  noxfile.py
Due: black, flake8, check-yaml, pyupgrade, isort

Bump version
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Add dummy implementations for tessif-example
  docs/conf.py
  noxfile.py
  src/tessif/model/__init__.py
  src/tessif/model/components.py
  src/tessif/model/energy_system.py
  src/tessif/namedtuples.py
  tests/test_connectivity.py
  tests/test_dummy_implementation.py
  tests/test_end2end.py
  tests/test_fakeapi.py
  tests/test_http_requests.py
Due: black, flake8, pyupgrade, isort

Update dependencies
  poetry.lock
  pyproject.toml
Due: check-toml
