Repository mathias-ammon/tessif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, check-toml, check-yaml, pyupgrade, isort

.pre-commit-config.yaml:

# .pre-commit-config.yaml
repos:
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v2.4.1
    hooks:
      - id: prettier
  - repo: local
    hooks:
      - id: black
        name: black
        description: Format code using black
        entry: poetry run black
        language: system
        types: [python]
        require_serial: true
      - id: flake8
        name: flake8
        description: Use flake8 for code improvements.
        entry: poetry run flake8
        language: system
        types: [python]
        require_serial: true
      - id: check-toml
        name: Check Toml
        entry: check-toml
        language: system
        types: [toml]
      - id: check-yaml
        name: Check Yaml
        entry: check-yaml
        language: system
        types: [yaml]
      - id: end-of-file-fixer
        name: Fix End of Files
        entry: end-of-file-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]
      - id: pyupgrade
        name: pyupgrade
        description: Automatically upgrade syntax for newer versions.
        entry: poetry run pyupgrade
        language: system
        types: [python]
        args: [--py310-plus]
      - id: isort
        name: Sort python imports using isort through poetry.
        entry: poetry run isort
        language: system
        types: [python]
        args: [-v]
      - id: trailing-whitespace
        name: Trim Trailing Whitespace
        entry: trailing-whitespace-fixer
        language: system
        types: [text]
        stages: [commit, push, manual]

Bump version
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Migrate to nox-poetry and update nox and poetry
  .github/workflows/develop_test_pypi_release.yml
  .github/workflows/flake8_lint.yml
  .github/workflows/pre-commit.yml
  .github/workflows/pylint.yml
  .github/workflows/stable_pypi_release.yml
  .github/workflows/tests.yml
  .github/workflows/tests_and_coverage.yml
  noxfile.py
  poetry.lock
  pyproject.toml
  tests/test_connectivity.py
Due: black, flake8, check-toml, check-yaml, pyupgrade, isort

tessif -> tessif-oemof-4-4 complete
  poetry.lock
  pyproject.toml
  src/tessif/cli.py
  src/tessif/frused/__init__.py
  src/tessif/frused/configurations.py
  src/tessif/frused/defaults.py
  src/tessif/frused/hooks/__init__.py
  src/tessif/frused/hooks/ppsa.py
  src/tessif/frused/hooks/tsf.py
  src/tessif/frused/namedtuples.py
  src/tessif/frused/paths.py
  src/tessif/frused/resolutions.py
  src/tessif/frused/spellings.py
  src/tessif/frused/themes.py
  src/tessif/model/components.py
  src/tessif/model/energy_system.py
  src/tessif/transform/mapping2es/tsf.py
  test_nox.py
Due: black, flake8, check-toml, pyupgrade, isort

Bump Version
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Updade tropp optimization
  poetry.lock
  pyproject.toml
  src/tessif/cli.py
  src/tessif/model/energy_system.py
  test_nox.py
Due: black, flake8, check-toml, pyupgrade, isort

Include strutils dependency
  poetry.lock
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Add post_processing WIP
  src/tessif/cli.py
  src/tessif/frused/utils.py
  src/tessif/post_process.py
Due: black, flake8, pyupgrade, isort

Deprecate iteritems
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Remove deprecated iteritem
  pyproject.toml
  src/tessif/post_process.py
Due: black, flake8, check-toml, pyupgrade, isort

Loosen tessif-oemof dependency
  poetry.lock
  pyproject.toml
  src/tessif/cli.py
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Update tessif-oemof-4-4 dependency
  poetry.lock
  pyproject.toml
Due: check-toml

Try circumventing nox
  src/tessif/cli.py
  src/tessif/model/energy_system.py
  src/tessif/post_process.py
  test_nox.py
Due: black, flake8, pyupgrade, isort

Remove unneded files
  src/tessif/namedtuples.py
  src/tessif/transform/mapping2es/tsf.py
  test_nox.py
Due: black, flake8, pyupgrade, isort

Restructure Tessif's System Model
  src/tessif/components.py
  src/tessif/model/__init__.py
  src/tessif/system_model.py
Due: black, flake8, pyupgrade, isort

Restructure Tessif's Hooks
  src/tessif/hooks/__init__.py
  src/tessif/hooks/ppsa.py
  src/tessif/hooks/tsf.py
Due: black, flake8, pyupgrade, isort

Update precomit isort to use profile=black
  .pre-commit-config.yaml
Due: check-yaml

Remove import checking from flake8 precommit
  .flake8
Due: none

Add logging capabilities
  src/tessif/logging.py
Due: black, flake8, pyupgrade, isort

Update configurations
  src/tessif/frused/configurations.py
Due: black, flake8, pyupgrade, isort

Update defaults
  src/tessif/frused/defaults.py
Due: black, flake8, pyupgrade, isort

Update paths
  src/tessif/frused/paths.py
Due: black, flake8, pyupgrade, isort

Update namedtuples
  src/tessif/frused/namedtuples.py
Due: black, flake8, pyupgrade, isort

Update resolutions
  src/tessif/frused/resolutions.py
Due: black, flake8, pyupgrade, isort

Update themes
  src/tessif/frused/themes.py
Due: black, flake8, pyupgrade, isort

Update tessif's hooks
  src/tessif/hooks/ppsa.py
  src/tessif/hooks/tsf.py
Due: black, flake8, pyupgrade, isort

Update post-processing
  src/tessif/post_process.py
Due: black, flake8, pyupgrade, isort

Update spellings
  src/tessif/frused/spellings.py
Due: black, flake8, pyupgrade, isort

Update project dependencies
  poetry.lock
  pyproject.toml
Due: check-toml

Add networkx graph transformation capabilities
  src/tessif/nxgraph.py
Due: black, flake8, pyupgrade, isort

Upgrade Tessif's system model.
  src/tessif/system_model.py
Due: black, flake8, pyupgrade, isort

Improve Tessif's CLI
  src/tessif/cli.py
Due: black, flake8, pyupgrade, isort

Update sphinx configuration
  docs/conf.py
Due: black, flake8, pyupgrade, isort

Update tessif frused
  src/tessif/frused/__init__.py
  src/tessif/frused/configurations.py
  src/tessif/frused/defaults.py
  src/tessif/frused/namedtuples.py
  src/tessif/frused/resolutions.py
  src/tessif/frused/spellings.py
  src/tessif/frused/themes.py
  src/tessif/frused/utils.py
Due: black, flake8, pyupgrade, isort

Update tessif.frused.spellings
  src/tessif/frused/spellings.py
Due: black, flake8, pyupgrade, isort

Update tessif.logging
  src/tessif/logging.py
Due: black, flake8, pyupgrade, isort

Add json serialization capabilities
  src/tessif/deserialize.py
  src/tessif/serialize.py
Due: black, flake8, pyupgrade, isort
