Repository mathias-ammon/tessif: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, flake8, check-toml, check-yaml, pyupgrade, isort

black:
  name: black
  description: Format code using black
  entry: poetry run black
  language: system
  require_serial: true

flake8:
  name: flake8
  description: Use flake8 for code improvements.
  entry: poetry run flake8
  language: system
  require_serial: true

check-toml:
  name: Check Toml
  entry: check-toml
  language: system

check-yaml:
  name: Check Yaml
  entry: check-yaml
  language: system

pyupgrade:
  name: pyupgrade
  description: Automatically upgrade syntax for newer versions.
  entry: poetry run pyupgrade
  language: system
  args:
  - --py310-plus

isort:
  name: Sort python imports using isort through poetry.
  entry: poetry run isort
  language: system
  args:
  - -v

Update tessif.post_process
  src/tessif/post_process.py
Due: black, flake8, pyupgrade, isort

Update tessif.components
  src/tessif/components.py
Due: black, flake8, pyupgrade, isort

Fix edge key deserialization.
  src/tessif/deserialize.py
Due: black, flake8, pyupgrade, isort

Update hooks
  src/tessif/hooks/tsf.py
Due: black, flake8, pyupgrade, isort

Add tessif.tropp module
  src/tessif/tropp.py
Due: black, flake8, pyupgrade, isort

Update tessif.nxgraph
  src/tessif/nxgraph.py
Due: black, flake8, pyupgrade, isort

Update tessif.cli
  src/tessif/cli.py
Due: black, flake8, pyupgrade, isort

Update tessif.system_model
  src/tessif/system_model.py
Due: black, flake8, pyupgrade, isort

Update testing
  tests/test_initialization.py
  tests/test_integration.py
  tests/test_serialization.py
  tests/test_tropp.py
Due: black, flake8, pyupgrade, isort

Remove deprecated tests
  tests/test_connectivity.py
  tests/test_end2end.py
  tests/test_fakeapi.py
  tests/test_http_requests.py
Due: black, flake8, pyupgrade, isort

Update noxfile
  noxfile.py
Due: black, flake8, pyupgrade, isort

Bump version and update dependencies
  poetry.lock
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Hotfixes
  docs/source/getting_started/initialization.rst
  docs/source/getting_started/installation.rst
  noxfile.py
  poetry.lock
  pyproject.toml
  src/tessif/cli.py
  tests/test_tropp.py
Due: black, flake8, check-toml, pyupgrade, isort

Bump Version
  pyproject.toml
  tests/test_version.py
Due: black, flake8, check-toml, pyupgrade, isort

Documentation hotfix
  docs/source/getting_started/initialization.rst
Due: none

Path conditions:
  black: any of: \.py$
  flake8: any of: \.py$
  check-toml: any of: \.toml$
  check-yaml: any of: \.(yaml|yml)$
  pyupgrade: any of: \.py$
  isort: any of: \.py$
